.main {
    display: flex;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer {
    border: 3px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #7D9EC0;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 50px;
    margin-bottom: 25px;
    row-gap: 25px;
}

.display {
    border: 2px solid black;
    text-align: end;
    line-height: 70px;
    height: 70px;
    padding: 5px;
    background-color: #FEF0C9;
    font-size: 30px;
}

/* buttons div class */

.buttons {
    display: flex;
    flex-flow: row;
    gap: 5px;
}

/* Buttons type */

button {
    width: 75px;
    height: 75px;
    font-size: large;
}

.decimal {
    font-size: x-large;
}

.left {
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
    gap: 5px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    flex-flow: row;
    gap: 5px;
}

.right {
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
    gap: 5px;
}

.right button {
    background-color: orange;
}

.left button {
    background-color: lightyellow;
}

.row-1 button {
    background-color: lightblue;
}

.left .equal {
    background-color: orange;
}

button:hover {
    background-color: gold;
}

.equal:hover {
    background-color: gold;
}

button:active {
    background-color: gray;
}

.equal:active {
    background-color: gray;
}

button:disabled {
    border: 2px solid black;
    color: black;
}